@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.info_list{margin-bottom:0.5rem;min-height: 150px;}
.info_list li{padding-top: 1.3rem; font-size:0.75rem; color:#333;text-align: center;}
.info_list li .name{position: relative;display: block;line-height: 1.25rem;padding:0 1%;margin-bottom: 0.5rem;font-size: 1rem;color: #000;}
.info_list li .time{vertical-align: middle;color: #949494;padding-bottom: 0.75rem;font-size: 0.75rem;}
.info_list li .pic{font-size: 0;}
.info_list li .brief{font-size: 0.75rem;line-height: 1.1rem;margin:1rem 0.2rem;font-size: 0.75rem;color: #666;overflow: hidden;text-align: left;}
.info_list li .more{display: inline-block;margin:auto;height: 1.5625rem;line-height: 1.5625rem;padding:0 1rem;border:1px solid #ddd;text-transform: capitalize;color: #999;}
.info_list .down_btn{font-size:0.75rem; padding:0 0.5rem; line-height:1rem; height:1rem; border-radius:0.2rem;}