@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/
html{font-family: 'Arial';}
#header_fill{height: 3rem;}
header{position: relative;height: 3rem;border-bottom: 0.0625rem solid #f5f5f5;box-shadow: 0 1px 2px 0 rgba(0,0,0,.24)}
header .logo{height: 3rem;padding: 0;margin: 0;width: 60%;padding-left: 0.5rem;}
header .logo img{max-height: 75%;}
header .icon{width: 2rem;height: 2rem;padding: 0;margin: 0;margin-top: 0.5rem;}
header .icon_1{background: #f1f1f1 url(../images/ico_menu.png) no-repeat center center / 55%;margin-right: 0.5rem;}
header .icon_3{background: #8bb93e url(../images/search.png) no-repeat center center / 55%;}


footer{background: #555;}
footer nav{display: none;text-align:center;padding-top: 0.8rem;margin-bottom: 0.5rem;height: 1rem;overflow: hidden;line-height: 1rem;}
footer nav em{display: inline-block;vertical-align: top;margin-top: 0.3rem;width: 0;border-left: 1px solid #636363;height: 0.5rem;}
footer nav a{display: inline-block;vertical-align: top;font-size:0.75rem; margin:0 2.78%; white-space:nowrap; word-break:keep-all; color:white;}
footer .share{padding: 1rem 3% 1rem;font-size: 0;text-align: center;}
footer .share a{display: inline-block;margin: 0 1.5%;width: 2.25rem;height: 2.25rem;background: url(../images/Facebook.png) no-repeat center center / 100% 100%;}
footer .share .Facebook{background-image:url(../images/Facebook.png);}
footer .share .Twitter{background-image:url(../images/Twitter.png);}
footer .share .Pinterest{background-image:url(../images/Pinterest.png);}
footer .share .LinkedIn{background-image:url(../images/LinkedIn.png);}
footer .share .YouTube{background-image:url(../images/YouTube.png);}
footer .share .Google{background-image:url(../images/Google.png);}
footer section{color: white;border: none;padding: 0.9375rem 2%;line-height: 1.125rem;font-size: 0.75rem;}
footer section a{color: white;font-size: 0.75rem;}

