@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.banner{position:relative;}

.home_pic{padding-top: 0.8125rem;padding-bottom: 1.875rem;}
.home_pic img{display: block;width: 100%;height: 100%;}
.home_pic .picA{float: left;width: 31.875%;}
.home_pic .picA .picb{margin-top: 6.6%;}
.home_pic .picB{float: left;width: 31.875%;margin: 0 2.1875%;}



.home_title{padding: 2.25rem 3% 0;line-height: 1.7rem;background: url(../images/top_titbg.png) no-repeat center top / auto 1rem;font-size: 1.25rem;text-align: center;}
.home_title2{position: relative;text-align: left;font-size: 1.56rem;padding: 2.25rem 10% 0.5rem;}
.home_title2:before{position: absolute;content: '';bottom: 0;left: 10%;width: 13%;height: 0.125rem;background: #8bb93e;}

.home_info{margin: 0.5rem 5% 1.5rem 10%;font-size: 0.75rem;line-height: 1rem;color: #181818;}

.home_box{margin: 0 auto;padding-bottom: 2rem;}
.home_box .hd{margin-top: 0.625rem;margin-bottom: 0.625rem;height: 0.5rem;}
.home_box .hd ul{text-align: center;height: 0.5rem;font-size: 0;}
.home_box .hd ul li{display: inline-block;width: 0.5rem;height: 0.5rem;margin: 0 0.2rem;font-size: 0;background: #dbdbdb;border-radius: 100%;}
.home_box .hd ul li.on{background: #80b435;}
.home_box .bd ul{overflow: hidden;}
.home_box .bd li{float: left;width: 21.875%;margin: 0 1.5625%;text-align: center;}
.home_box .bd li img{vertical-align: middle;max-height: 100%;max-width: 100%;}
.home_box .bd li .pic_box{border: 1px solid #ccc;box-sizing:border-box;padding:1px;}
.home_box .bd li .proname{display: block;font-size: 0.75rem;max-height: 2rem;overflow: hidden;margin-top: 0.2rem;line-height: 1rem;color: #181818;}

.home_news{padding-top: 0.875rem;padding-bottom: 1.625rem;}
.home_news .list{float: left;width: 30%;margin: 0 1.666%;}
.home_news .list .pic_box{}
.home_news .list .name{display: block;max-height: 2rem;overflow: hidden;margin-top: 0.3rem;line-height: 1rem;font-size: 0.75rem;color: #181818;}
.home_news .list .date{margin-top: 0.7rem;font-size: 0.75rem;color: #9f9f9f;}



