@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/


.home_box{ border-radius:0.05rem; width:98%; margin:1rem auto 0; background:#fff; overflow:hidden;}
.home_box .small_pro{width:49.81%;}
.home_box .small_pro .c{width: 96%;margin:0 auto;}
.home_box .small_pro .c .img{height: 9rem;text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.7216117%;}
.home_box .small_pro .c .img img{vertical-align:middle; max-height:100%;}
.home_box .small_pro .c .proname{line-height:1.3rem; max-height:2.6rem; padding-top:0.4rem; overflow:hidden;}
.home_box .small_pro .c .proname a{font-size:0.875rem; color:#333;}
.home_box .small_pro .c .price{color:#d8061f; font-size:1rem; line-height:1.125rem; margin-top:0.3rem;}
