@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.info_list{margin-bottom:0.5rem;min-height: 150px;}
.info_list li{margin-top: 0.6875rem; font-size:0.75rem; color:#333;}
.info_list li .pic{max-width: 100%;text-align: center;}
.info_list li a{font-size:0.75rem; color:#333;}
.info_list li .desc{border-bottom:1px solid #ddd;padding: 2% 2% 5%;}
.info_list li .msg{height: 1.3125rem;line-height: 1.3125rem;font-size: 0;}
.info_list li .msg .cate{display: inline-block;font-size: 0.75rem;color: #8bb93e;vertical-align: middle;}
.info_list li .msg em{display: inline-block;vertical-align: middle;height: 0.8rem;width: 0;border-left: 1px solid #6b6b6b; margin: 0 0.5rem;}
.info_list li .time{display: inline-block;vertical-align: middle;color: #6b6b6b;}
.info_list li .name{position: relative;display: block;line-height: 1.4rem;padding-bottom: 0.6rem;margin-bottom: 0.6rem;font-size: 1rem;color: #000;}
.info_list li .name:before{content:'';position: absolute;bottom: 0;width: 2.8125rem;border-bottom: 2px solid #8bb93e;}
.info_list li .brief{font-size: 0.75rem;line-height: 1rem;overflow: hidden;}
.info_list .down_btn{font-size:0.75rem; padding:0 0.5rem; line-height:1rem; height:1rem; border-radius:0.2rem;}