@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/
html{font-family: 'Open Sans','Arial',sans-serif;}
#header_fill{height: 6.05rem;}
.user #header_fill{height: 3.25rem;}
header{position: relative;height: 3.25rem;border-bottom: 0.0625rem solid #f5f5f5;}
header .logo{float: left;height: 3.25rem;text-align: center;padding: 0;margin: 0;width: auto;padding-left: 3%;}
header .logo img{max-height: 75%;}
header .icon{width: 3.25rem;height: 3.25rem;padding: 0;margin: 0;}
header .icon_1{float: right;background: url(../images/ico_menu.png) no-repeat center center / 40%;}

.goods_search{position: static;height: auto;padding:0.4rem 3%;background:#dadada;display: block;-webkit-box-sizing:border-box; box-sizing:border-box;}
.goods_search .form{width:100%; margin:0;padding: 0; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff; border-radius:0.08rem; line-height:2rem; height:2rem;padding-right: 2.5rem;font-size: 0;overflow: hidden;}
.goods_search .form .text{float: left;background:none; border:none; font-size:0.875rem;text-indent: 0.5rem; color:#8e8e93; height:2rem; line-height:2rem; width:100%; outline:none;}
.goods_search .form button{display: block;border:0;padding: 0;margin: 0 -2.5rem 0 0;float: right;width: 2.5rem;height: 2rem;background-image: url(../images/search.png);background-position:center center;background-size: auto 60%;background-repeat: no-repeat;}

footer{background: #555;}
footer .share{padding: 1.25rem 0 1rem;margin: 0 3%;font-size: 0;text-align: center;border-bottom: 0.0625rem solid #dcdcdc;}
footer .share a{display: inline-block;margin: 0 2%;width: 1.5625rem;height: 1.5625rem;background: url(../images/Facebook.png) no-repeat center center / auto 100%;}
footer .share .Facebook{background-image:url(../images/Facebook.png);}
footer .share .Twitter{background-image:url(../images/Twitter.png);}
footer .share .Pinterest{background-image:url(../images/Pinterest.png);}
footer .share .LinkedIn{background-image:url(../images/LinkedIn.png);}
footer .share .YouTube{background-image:url(../images/YouTube.png);}
footer .share .Google{background-image:url(../images/Google.png);}
footer .message{margin: 1rem 3% 0;}
footer .message div{margin-top: 0.625rem;height: 2.25rem;border-width:1px;border-style: solid;line-height: 2.25rem;padding:0 1rem;font-size: 1rem;border-radius: 1.1875rem;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
footer section{border: none;padding: 0.8rem 2%;line-height: 1.125rem;font-size: 0.875rem;}
footer section a{font-size: 0.75rem;}

