/*
Powered by ueeshop.com		http://www.ueeshop.com
广州联雅网络科技有限公司		020-83226791
*/

/* 图片管理 Start */
#photo{padding: 0;}
#photo .list_menu{padding:0 30px;}
#photo .upload{height:30px; line-height:30px; padding:7px 0; overflow:hidden; float:left; max-width:550px;}
#photo .upload>h3{float:left; margin-left:11px; margin-right:11px; font-weight:bold;}
#photo .upload .up_input{float:left; margin-right:5px;}
#photo .upload .up_input>object{float:left;}
#photo .upload .tips{font-size:12px; height:30px; line-height:30px; overflow:hidden;}
#photo .list_menu_photo_index{background: #f4f4f4;position: relative;z-index: 5;}
#photo .list_menu_photo_index:before{position: absolute;right: 30px;left: 30px;top: 0;border-top: 1px solid #e0e1e2;content: '';}
#photo .list_menu_photo{padding:0 25px;height: 49px;line-height: 49px;z-index: 5;}
#photo .list_menu_photo_index .search_form{background-color: #fff;}
#photo .list_menu_photo_index .list_menu_button>li>a{height: 29px;line-height: 29px;border:1px solid #d5d5d5;color: #555;}
#photo .list_menu_photo_index .list_menu_button>li>a.add{color: #fff;border-color: #07bb8a;}
#photo .list_menu_photo_index .list_menu_button>li>a.add:hover{color: #fff;}
#photo .list_menu_photo_index .list_menu_button>li>a:hover{color: #07bb8a;border-color: #07bb8a;}
#photo .photo_list{padding: 20px;}
#photo .photo_list .photo_list_box{text-align: center;}
#photo .photo_list .photo_list_box:after{content: '';display: inline-block;width: 100%;height: 0;clear: both;}
#photo .photo_list .item{position: relative;display: inline-block;vertical-align: top;width:140px; float:none;  margin:5px;background: #fff;border-radius: 5px;}
#photo .photo_list .item .img{border-bottom:none; padding:10px;height:120px; margin:0 auto; text-align:center;cursor:pointer;overflow: hidden;}
#photo .photo_list .item .img span{display:inline-block; height:100%; vertical-align:middle;}
#photo .photo_list .item .img img{vertical-align:middle; max-width:100%;}
#photo .photo_list .item .img input{display:none;}
#photo .photo_list .item .img_mask{display:none; background: rgba(0,0,0,0.3) url(../images/photo/icon_item_hover.png) no-repeat 103px 7px; position:absolute; top: 0;left: 0; width: 100%;height: 100%; z-index:3;border-radius: 5px;}
#photo .photo_list .item .name{text-align:center; margin:0 auto; overflow:hidden; height:20px; line-height:20px;padding-bottom: 5px; overflow:hidden; font-size:12px; white-space:nowrap; text-overflow:ellipsis;}
#photo .photo_list .item .name>a{display:block;}
#photo .photo_list .item .zoom{position:absolute; right:3px; bottom:3px; z-index:4; outline:0;}
#photo .photo_list .item .refresh{position:absolute; right:32px; bottom:3px; z-index:4; outline:0;}
#photo .photo_list .cur .img_mask,#photo .photo_list .item:hover .img_mask{display:block;}
#photo .photo_list .cur .img_mask{background-image: url(../images/photo/icon_item_cur.png);}
#photo .list_foot{height:30px; overflow:hidden; padding:5px 170px;}
#photo .list_foot .btn_ok{padding:0 25px;}
#photo .list_foot .btn_cancel{padding:0 25px;}
#photo .photo_multi_img{margin-top:10px;}
#photo .photo_multi_img .pic{float:left; margin-right:15px;margin-bottom: 15px;}
#photo .photo_multi_img .pic div{width:113px; height:113px; border:1px solid #e8e8e8; position:relative;border-radius: 5px;}
#photo .photo_multi_img .pic div img{width:113px; height:113px; position:absolute;}
#photo .photo_multi_img .pic div .delete,#photo .photo_multi_img .pic div span{width:100%; height:20px; line-height:20px; text-align:center; font-size:12px; color:#fff; background:#000; border:0; position:absolute; bottom: 0; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; cursor:pointer; display:block;}
#photo .photo_multi_img .pic .box_input{width:93px; margin-top:5px;padding: 0 10px;}
#photo .r_con_table tr td span.other_box{white-space:nowrap; margin-right:5px;}
#photo .r_con_table .attr_list .attr_box{width:180px; height:30px; overflow:hidden; margin-right:10px; margin-bottom:6px; background-color:#fff; border:1px #ddd solid; float:left; position:relative;}
#photo .r_con_table .attr_list .attr_box>dd{float:left;}
#photo .r_con_table .attr_list .attr_box>dd.attr_ico{width:30px; height:30px; background:url(../images/products/move.png) no-repeat center center #f7f7f7; cursor:move;}
#photo .r_con_table .attr_list .attr_box>dd.attr_txt{width:150px; line-height:30px; overflow:hidden; text-indent:5px; cursor:default;}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu{width:50px; height:30px; line-height:26px; text-align:center; background-color:#f7f7f7; border-left:1px #ddd solid; position:absolute; top:0; right:-51px; z-index:10;}
#photo .r_con_table .attr_list .attr_add{width:30px; height:30px; line-height:28px; overflow:hidden; margin-right:10px; margin-bottom:6px; background-color:#fff; border:1px #ddd solid; float:left; position:relative; text-align:center;}
#photo .r_con_table .attr_list .attr_box>dd.attr_menu *,#photo .r_con_table .attr_list .attr_add *{line-height: normal;vertical-align: middle;}
#photo .r_con_table .attr_list .attr_add>a{display:block; text-decoration:none; font-size:20px;}
#photo .r_con_table .attr_list .placeHolder{border:1px #ddd dotted;}
/* 图片管理 End */

#case{}
#case .r_con_table tbody td img.photo{width: 90px;}
#case .r_con_table tbody td.other{}
#case .r_con_table tbody td.other span{display: block;}
#case .r_con_table tbody td, #download .r_con_table tbody td{vertical-align: middle;}

#page{padding:0;}
#page .inside_container{margin-bottom:10px; border-bottom:1px #e8e8e8 solid;}
/*#page .list_menu{width:940px; margin:0 auto;}*/
/*#page .inside_table{width:1000px; margin:0 auto;}*/

.center_container_1200{max-width:1200px; margin:0 auto;}
.center_container_900{max-width:900px; margin:0 auto;}

/*#page .global_container{margin:0;}*/
/*#page .box_textarea{width: 98%;max-width: 700px;height: 78px;}*/

#blog_inside .set_add{margin-top:0;}
#blog_inside .blog_nav div a img{display: none;}
#blog_inside .blog_nav div a{margin-top: 8px;margin-left: 10px;display: inline-block;vertical-align: top;width: 23px;height: 23px;overflow: hidden;background: url(../images/frame/icon_delete_0.png) no-repeat center;}
#blog_inside .blog_nav div a:hover{background-image: url(../images/frame/icon_delete_0_current.png);}

#blog_inside .review_box{border-bottom: 1px solid #e9e9e9;padding-bottom: 28px;padding-top: 16px;}
#blog_inside .review_box .star_box{height: 30px;line-height: 30px;}
#blog_inside .review_box .agree{display: inline-block;height: 30px;line-height: 30px;margin-left: 20px;padding-left: 27px;color: #999;font-size: 14px;background: url(../images/products/icon_good.png) no-repeat left center;}
#blog_inside .review_box .msg{line-height: 20px;font-size: 14px;padding-bottom: 11px;padding-top: 16px;}
#blog_inside .review_box .r_img{height: 60px;margin: 14px 0;}
#blog_inside .review_box .r_img .list{float: left;width: 58px;height: 58px;margin-right: 7px;border:1px solid #dddddd;text-align: center;vertical-align: middle;font-size: 0;}
#blog_inside .review_box .r_img .list img{vertical-align: middle;max-width: 100%;max-height: 100%;}
#blog_inside .review_box .r_img .list:after{display: inline-block;vertical-align: middle;height: 100%;content: '';}
#blog_inside .review_box .info{padding-top: 12px;height: 20px;line-height: 20px;font-size: 12px;}
#blog_inside .review_box .info span{padding-left: 20px;color: #999;}

#blog_inside .form_remark_log{margin-top:30px; background-color:#f8f8f8; border:1px #cbcecd solid; border-radius:5px;}
#blog_inside .form_remark_log .form_box{margin:8px; height:32px; line-height:32px;}
#blog_inside .form_remark_log .remark_left{width:100%; margin-left:-55px; float:left;}
#blog_inside .form_remark_log .remark_left>div{margin-left:55px;}
#blog_inside .form_remark_log .box_input{width:100%; height:32px; line-height:32px; padding:0; border:0; vertical-align:top;}
#blog_inside .form_remark_log .box_input:focus{box-shadow:none;}
#blog_inside .form_remark_log .btn_save{width:50px; height:32px; color:#fff; cursor:pointer; background-color:#0cb083; border-radius:5px; border:0; float:right;}
