@charset "utf-8";
/* CSS Document */

.inquiry-row .rows{}
.inquiry-row .rows + .rows{border-top: 1px solid #f1f1f1;padding-top: 20px;margin-top: 20px;}
.inquiry-row .rows label{font-size: 14px;color: #000;width: 16%;margin-right: 4%;float: left;height: 19px;}
.inquiry-row .rows span.input{font-size: 14px;color: #555;width: 80%;float: left;}
.inquiry-row .rows span.input a{color: #05a579;}
.rows .input .icon_mail{background:url(../images/frame/email.png) no-repeat left center;padding-left: 23px;margin-left: 20px;color: #05a579;}

.r_con_table tbody td .list-img-size{display: inline-block;vertical-align: middle;margin-right: 3%;max-width: 10%;}
.r_con_table tbody td .list-img-size img{}
.r_con_table tbody td .list-img-size + a{display: inline-block;vertical-align: middle;max-width: 70%;}
/*inquiry public-END*/

.inquiry-w1200{max-width: 1200px;margin: 0 auto;}
.inquiry-w1200 .back_btn{max-width: 100%;}
.inquiry-w1200 .oth .rows{}
.inquiry-w1200 .oth .rows + .rows{border:none;margin-top: 10px;padding-top: 0;}
.inquiry-w1200 .left_container{margin-left:-390px; float:left;width:100%;}
.inquiry-w1200 .left_container .global_container,
.inquiry-w1200 .right_container .global_container{margin:0;}
.inquiry-w1200 .left_container .left_container_side{margin-left:390px;}
.inquiry-w1200 .right_container{width:380px; margin-left:10px; float:right;}
.inquiry-w1200 .right_container .pro-row{}
.inquiry-w1200 .right_container .pro-row .plist{padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #f1f1f1;}
.inquiry-w1200 .right_container .pro-row .plist .pic_box{width: 20%;height: 70px;margin-right: 5%;}
.inquiry-w1200 .right_container .pro-row .plist .name{width: 70%;line-height: 160%;height: 70px;overflow: hidden;}
.inquiry-w1200 .right_container .pro-row .plist .name a{font-size: 14px;color: #555;}
.inquiry-w1200.inquiry-row .oth .rows label{width: 19%;}
.inquiry-w1200.inquiry-row .oth .rows span.input{width: 77%;}
/*inquiry-END*/

#review .r_con_table tbody td{vertical-align: middle;}

.list_menu_button > li > a.export{display: none;}