/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.r_footer{display:none;}
#iframe_page{padding-bottom:0;}
#photo{width:100%;}
.list_hd{line-height:50px; height:50px;}
.list_nav{margin-top:8px;}

.choice_view .list_upload{height:30px; line-height:30px; padding:5px 0 3px; border-bottom:1px #ddd solid; overflow:hidden;}
.choice_view .list_upload>h3{float:left; margin-left:11px; margin-right:11px; font-weight:bold;}
.choice_view .list_upload .up_input{float:left; margin-right:5px;}
.choice_view .list_upload .up_input>object{float:left;}
.choice_view .list_upload .tips{font-size:12px;}

#PicUploadQueue{float:left; height:19px; line-height:19px; margin-left:5px;}


