/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.cCards li{float:left; width:148px; height:42px; line-height:42px; text-align:center; display:block; background:#0cb083; border-radius:5px 5px 0px 0px; margin-right:17px;}
.cCards li a{color:#fff; text-decoration:none; font-size:16px; font-weight:bold; display:block;}
.cCards .on,
#blog .blog li a.on{background:#f1f8f5;color:#0cb083;}
.cCards .on a{color:#0cb083;}

.optimize{background:#fff; padding:30px;}
.optimize .oleft{height:343px; width:18.80%;}
.optimize .oleft li{float:left; width:100%; height:239px; position:relative; z-index:1; text-align:center; margin-top:50px; box-sizing: border-box;padding-left: 25px;}
.optimize .oleft .img{width:100%; height:215px; position:absolute; z-index:1; left:0px; top:0px;right: 0;margin: auto;}
.optimize .oleft .img div{width:130px; height:130px; position:absolute; z-index:5; left:0; top:0;right: 0;bottom: 0;margin:auto;}
.optimize .oleft .fraction{position:absolute; z-index:2; color:#0cb083; font-size:16px; left:0px; top:160px; text-align:center; width:100%;}
.optimize .oleft .fraction span{font-size:30px;}
.optimize .oleft .equipment{width:100px; height:24px; background:#0cb083; color:#fff; line-height:24px; border-radius:5px; font-size:16px; position:absolute; z-index:3; bottom:0; left:0;right: 0;margin:auto;}
.optimize .oleft .ol{max-width:76px;width: 18%; height:1px; background:#c1d3e5; z-index:0; position:absolute;right: 0;top: 0;bottom: 0;margin:auto;}
.optimize .oright{border:#07bb8a 1px solid; background:#f1f8f5; width:78%; padding:.75% 1.5%; min-height:320px;}
.optimize .oright li{float:left; width:46%; background:url(../images/seo/y_0.png) left center no-repeat; padding-left:25px; height:28px; line-height:28px; overflow:hidden; margin-right:1%; color:#07bb8a;opacity: .8;}
.optimize .oright li.light{background:url(../images/seo/y_1.png) left center no-repeat; color:#0cb083;opacity: 1;}
.optimize .oright .mrnone{margin-right:0%;}

.summary{padding:30px; background:#fff;}
.summary dl{display:block; overflow:hidden; float:left;}
.summary dl dt{display:block; width:120px; height:25px; line-height:25px; float:left; color:#0cb083; font-size:16px; font-weight:bold;}
.summary dl dd{display:block; width:594px; height:25px; position:relative; overflow:hidden; float:left; background:#f1f8f5; border-radius:5px;}
.summary dl dd .proportion{width:594px; height:25px; line-height:25px; overflow:hidden; background:#f1f8f5; border-radius:5px;}
.summary dl dd .proportion span{font-size:16px;}
.summary ul{display:block; width:286px; height:38px; overflow:hidden; float:right; margin-top:15px;}
.summary ul li{display:block; width:90px; height:36px; line-height:36px; border:1px solid #ebebeb; border-left:none; text-align:center; background-color:#ffffff; float:left; cursor:pointer;}
.summary ul li.not-done{border-left:1px solid #ebebeb; border-top-left-radius:4px; border-bottom-left-radius:4px;}
.summary ul li.complete{width:102px;}
.summary ul li.give-up{border-top-right-radius:4px; border-bottom-right-radius:4px;}
.summary ul li.on{border-bottom-color:#31445b; background:url(../../images/seo/jt.png) 14px 11px no-repeat #fbfbfb; text-indent:38px; text-align:left;}
.summary ul li a{display:block; width:100%; height:36px; line-height:36px; text-decoration:none;}
.summary ul li.on a{color:#31445b; font-weight:bold;}
.summary dl dd .proportionbg{position:absolute; left:0px; top:0; z-index:2; height:25px; border-radius:5px 0px 0px 5px;}
.summary dl dd .ThisWeekBg{background:#0cb083;}
.summary dl dd .LastWeekBg{background:#a08bce;}
.summary dl dd .proportionmum{position:absolute; top:0; z-index:2; height:25px; line-height:25px;}
.summary dl dd .Thismum{color:#0cb083; font-weight:bold;}
.summary dl dd .Lastmum{color:#a08bce; font-weight:bold;}

.r_con_list li{width:100%;}
.r_con_list li dt{min-height:40px; padding:18px 30px; overflow:hidden; background:#ffffff;}
.r_con_list li dt .title{max-width: 80%; line-height:30px; padding:0px 35px; display:inline-block; background:url(../images/seo/dd_6.png) left 12px no-repeat;}
.r_con_list li dt .title *{vertical-align: middle;float: none !important;}
.r_con_list li dt .title h3{color:#0cb083; font-size:16px;}
.r_con_list li dt .title h4{color:#9b9b9b; font-size:14px;}
.r_con_list li dt.on{background:#f6f7f7;}
/*.r_con_list li dt.on .title{background:url(../images/seo/dd_7.png) left 12px no-repeat;}*/
.r_con_list li dt.offTop .title{background:url(../images/seo/dd_7.png) left 12px no-repeat;}
.r_con_list li dt .title label{display:inline-block; float:left; margin-right:12px; font-size:16px; color:#333;}
.r_con_list li dt .title span{display:inline-block; float:left; height:37px; line-height:35px; padding:0 20px; border:#06ba8a 1px solid; min-width:295px; color:#555; font-style:italic; border-radius:3px; font-size:16px;}
.r_con_list li dt .time{width:55px; display:block; background:url(../images/seo/dd_9.png) 5px center no-repeat; padding-left:30px; font-size:14px; color:#9b9b9b; margin-top:8px; position:relative;}
.r_con_list li dt .time .dec{position:absolute; top:100%; left:-35px; height:34px; width:100px; text-align:center; display:none;}
.r_con_list li dt .time .dec .i{height:8px; line-height:8px;}
.r_con_list li dt .time .dec .d{width:100px; height:26px; line-height:26px; background:#0cb083; border-radius:5px; color:#ffffff;}
.r_con_list li dt .time:hover .dec{display:block;}
.r_con_list li dt .new{width:40px; height:18px;line-height: 18px;text-align: center; display:inline-block; margin-left:30px; background: #0cb083; /*url(../images/seo/new.gif) center center no-repeat*/font-size:10px;color: #fff;border-radius: 3px;}
.r_con_list li dd.offBtm{display:none; position:relative;}
.r_con_list li dd{padding:0px 30px 24px 65px; background-color:#ffffff;}
.r_con_list li dd .toper{height:35px; line-height:35px; padding:12px 0; overflow:hidden; font-size:16px;}
.r_con_list li dd .toper h3{float:left; padding-right:20px; font-size:16px; color:#333}
.r_con_list li dd .toper span{display:block; float:left; padding:0 20px; min-width:270px; max-width:400px; overflow:hidden; background-color:#ffffff; color:#989898; border-radius:3px;}
.r_con_list li dd .toper span a{font-size:16px; color:#333;}
.r_con_list li dd .toper a.lightbox-rel{color:#06ba8a; text-decoration:underline; display:inline-block; height:35px; float:left;}
.r_con_list li dd .toper label{display:inline-block; height:35px; background:url(../images/seo/dd_9.png) left center no-repeat; float:right; padding-left:28px; margin-top:12px; margin-right:120px;}
.r_con_list li dd .effect{padding:12px 0 12px 25px; line-height:25px; font-size:13px; background:url(../images/seo/hand.png) left 18px no-repeat;}
.r_con_list li dd .list{padding:12px 0; line-height:25px; font-size:13px;}
.r_con_list li dd .list label{display:inline-block; height:25px; line-height:25px; padding-right:5px;}
.r_con_list li dd .list span{display:inline-block; line-height:25px;}
.r_con_list li dd .contents{width:100%; position:relative; box-sizing:border-box; padding:10px 0; padding-right:300px;}
.r_con_list li dd .contents .img_list{width:120px; height:90px; overflow:hidden; text-align:center; float:left; margin:6px 12px 6px 0; border-radius:4px; border:1px solid #fff;}
.r_con_list li dd .contents .img_list span{height: 100%;vertical-align: middle;}
.r_con_list li dd .contents .img{width:240px; height:180px; background-color:#ffffff; border-radius:5px; text-align:center; position:absolute; left:0; top:15px;}
.r_con_list li dd .contents .list{padding-left:250px; min-height:180px;}
.r_con_list li dd .contents .rows{line-height:30px; position:relative;}
.r_con_list li dd .contents .rows>label{color:#333; width:100px; height:30px; padding:10px 0; display:block; overflow:hidden; float:left; text-align:right; font-size:16px; position:absolute; left:0; top:0;}
.r_con_list li dd .contents .rows .keys{padding-top:12px;}
.r_con_list li dd .contents .rows>span{color:#333; display:block; padding:10px 0; float:left; min-height:30px; margin-left:5px; font-size:16px; border-bottom:#e9f0fa 1px solid; min-width:60%; margin-left:115px;}
.r_con_list li dd .contents .rows:last-child>span{border:none;}
.r_con_list li dd .contents .rows>span a{color:#333;}
.r_con_list li dd .contents .rows>span .domain{margin-right:8px; text-decoration:none;}
.r_con_list li dd .contents .rows>span .img_list:hover{border:1px solid #06ba8a;}
.r_con_list li dd .contents .rows>span .img_list.video{background:#fff; width:199px; height:199px;}
.r_con_list li dd .contents .rows>span.complete{}
.r_con_list li dd .contents .rows>span.complete .domain{display:inline-block; color:#06ba8a; font-size:16px;}
.r_con_list li dd .contents .rows>span.complete .domain:hover{text-decoration:underline;}
.r_con_list li dd .contents .key font{display:block; height:29px; line-height:29px; width:144px; font-size:16px; font-family:Arial; background:#eee; margin:3px 5px; color:#333; border-radius:5px; text-align:center;}
.r_con_list li dd .oBright{margin-top:25px; z-index:1; position:absolute; right:30px; top:0;}
.r_con_list li .btn_global{color: #fff;text-align: center;}
.r_con_list li dd .finish{height:32px; overflow:hidden; /*position:absolute;*/ right:22px; top:25px;}
.r_con_list li dd .finish a{color: #fff;background: #00a578;}
.r_con_list li dd .finish a.skip , .r_con_list li dd .finish a.report{background-color:#ddd; text-align:center;color: #fff;}
.r_con_list li dd .finish a.complete{color: #fff;background: #00a578; text-align:center;}
.r_con_list li .close{margin-bottom:7px;}
.r_con_list li .close a{border: 1px #cbcecd solid;color: #444;background-color: #fff;}
.r_con_list li .remind{width:123px; margin-right:20px;padding: 0; position:relative; z-index:10;}
.r_con_list li .remind > span{border: 1px #ecf2f7 solid;color: #00a578;background: #f1f8f5 url(../../ico/arrow_down_gray.png)  no-repeat 92% 15px;display: block;border-radius: 5px;text-align: left;text-indent: 18px;}
.r_con_list li .remind ul{position:absolute; left:0px; top:26px; border:#dbe4e0 1px solid; border-radius:5px; border-top:none; width:121px; padding-top:9px; display:none; overflow:hidden;text-align: center;}
.r_con_list li .remind li{height:30px; line-height:30px; border-bottom:#dbe4e0 1px solid; background:#ffffff;}
.r_con_list li .remind li a{color:#666; font-size:14px; text-decoration:none;}
.r_con_list li .remind li a:hover{color: #00a578;}
.r_con_list li .remind:hover ul{display:block;}

.complete_form{width:482px; padding:20px 45px; position:absolute; top:200px; left:50%; margin-left:-286px; background:#fff; z-index:10000; border-radius:8px; display:none;}
.complete_form h3{width:100%; text-align:center; padding:15px 0; font-size:16px;}
.complete_form .rows{width:100%; text-align:center; padding:15px 0;}

#overview .summary{padding:30px 45px; border-bottom:#edf0f5 1px solid; border-left:#0cb083 12px solid;}
#overview .summary h3{font-size:50px; color:#000; font-style:italic; margin-bottom:30px; line-height:50px; height:50px;}
#overview .summary .rate{margin-left:45px;}
#overview .summary .times div , #overview .summary .times span{font-size:14px; color:#000;}
#overview .summary .times font{color:#9b9b9b; font-size:14px;}
#overview .summary .get_mission{display:block; width:170px; height:40px; line-height:39px; background:#07bb8a; border-radius:5px; text-align:center; color:#fff; text-decoration:none; cursor:pointer; margin-right:17px;}
#overview .summary .has_mission{display:block; width:170px; height:40px; line-height:39px; background:#07bb8a; border-radius:5px; text-align:center; color:#fff; text-decoration:none; margin-right:17px;}
#overview .summary .first_mission_time{height:20px; line-height:20px;}
#overview .alignment{border-bottom:#edf0f5 1px solid; background:#fff;}
#overview .alignment .aleft{width:50%; height:430px; box-sizing:border-box;}
#overview .alignment .aleft .task_tips{width:440px; height:92px; background:url(../images/seo/dd_14.png); margin:0px auto 40px;}
#overview .alignment .aleft .task_tips div{color:#000; font-size:16px; line-height:30px; padding-top:13px; padding-right:80px;}
#overview .alignment .aleft .task_tips strong{color:#07bb8a; font-size:20px; font-weight:bold;}
#overview .alignment .aleft .task{height:215px;}
#overview .alignment .aleft .task ul{width:440px; margin:0 auto;}
#overview .alignment .aleft .task ul.rows_0{width:660px; height:100px;}
#overview .alignment .aleft .task ul li{border:1px solid #fff; border-left:1px solid #ddd;}
#overview .alignment .aleft .task ul li:first-child{border-left:1px solid #fff;}
#overview .alignment .aleft .task ul.rows_0 li{border-bottom:1px solid #ddd;}
#overview .alignment .aleft .task .ddlist{width:220px; height:100px; text-align:center; box-sizing:border-box;}
#overview .alignment .aleft .task .ddlist:hover{border:1px #07bb8a solid; background:#f6fafe;}
#overview .alignment .aleft .task .ddlist .img{height:26px; line-height:26px; margin:18px auto;}
#overview .alignment .aleft .task .ddlist .name{color:#0cb083; font-size:16px; position:relative;}
#overview .alignment .aleft .task .ddlist .mum{display:inline-block;}
#overview .alignment .aleft .task .ddlist .mum span{display:block; width:24px; height:15px; line-height:15px; color:#fff; background:#0cb083; border-radius:3px; font-size:12px;}
#overview .alignment .aright{padding:38px 2%; width:50%; height:430px; box-sizing:border-box; border-left:#edf0f5 1px solid; }
#overview .alignment .aright .top{height:36px; line-height:36px;}
#overview .alignment .aright .top .title{font-weight:bold; font-size:20px;}
#overview .alignment .aright .top .notes{width:36px; height:36px; position:relative; margin-left:15px; cursor:pointer; z-index:999;}
#overview .alignment .aright .top .notes .dec{position:absolute; top:100%; left:-21px; height:34px; width:76px; text-align:center; display:none;}
#overview .alignment .aright .top .notes .dec .i{height:8px; line-height:8px;}
#overview .alignment .aright .top .notes .dec .d{width:76px; height:26px; line-height:26px; background:#0cb083; border-radius:5px; color:#fff;}
#overview .alignment .aright .top .notes:hover .dec{display:block;}
#overview .alignment .keyword_list{height:310px; width:100%; text-align:center; overflow:hidden;}
#overview .alignment .keyword_list .table{display:table; width:180px; height:66px; text-align:center; border-radius:5px; overflow:hidden;}
#overview .alignment .keyword_list .table .table-cell{display:table-cell; vertical-align:middle;}
#overview .alignment .keyword_list a{color:#475d74; text-decoration:none; font-size:14px; display:block;}
#overview .alignment .keyword_list .table:hover{background:#61c6cf; -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1);}
#overview .alignment .keyword_list .table:hover a{color:#ffffff;}
#overview .alignment .keyword_list .color0 , #overview .alignment .keyword_list .color2 , #overview .alignment .keyword_list .color3 , #overview .alignment .keyword_list .color6 , #overview .alignment .keyword_list .color7 , #overview .alignment .keyword_list .color8{background:#c8ebee;}
#overview .alignment .keyword_list .color1 , #overview .alignment .keyword_list .color4 , #overview .alignment .keyword_list .color5 , #overview .alignment .keyword_list .color9{background:#cdd7e1;}
#overview .alignment .keyword_list .one , #overview .alignment .keyword_list .two{margin-right:25px; display:inline-block;}
#overview .alignment .keyword_list .two{margin-top:50px; vertical-align:top;}
#overview .alignment .keyword_list .one .table , #overview .alignment .keyword_list .two .table{margin-top:35px;}
#overview .alignment .keyword_list .two:last-child{margin-right:0px !important;}
#overview .data{background:#fff;}
#overview .data .top{background:#f1f8f5; border-bottom:#edf0f5 1px solid; height:52px; line-height:52px; text-indent:14px; font-size:16px; font-weight:bold;}
#overview .data .lefter{width:50%; box-sizing:border-box; float:left; height:450px;}
#overview .data .lefter .charts{padding:20px;}
#overview .data .optimization{width:50%; float:right; box-sizing:border-box; border-left:1px solid #edf0f5; height:450px;}
#overview .data .optimization .mid{height:343px; text-align:center;}
#overview .data .optimization .mid li{width:215px; height:239px; position:relative; z-index:1; text-align:center; margin:50px 3% 0px 3%; display:inline-block;}
#overview .data .optimization .mid .img{width:215px; height:215px;}
#overview .data .optimization .mid .img div{width:130px; height:130px; position:absolute; z-index:5; left:40px; top:46px;}
#overview .data .optimization .mid .fraction{position:absolute; z-index:2; font-size:16px; left:0px; top:160px; text-align:center; width:100%;}
#overview .data .optimization .mid .fraction span{font-size:30px;}
#overview .data .optimization .mid .equipment{height:24px; background:#0cb083; color:#fff; line-height:24px; border-radius:5px; font-size:14px; z-index:3; margin:0 auto; display:inline-block; padding:3px 10px;}
#overview .data .optimization .mid .on{background:#0cb083;}
#overview .data .optimization .btm{text-align:center;}

#keyword .add{color:#07bb8a;}
#keyword .keyword_edit_form{width:870px; min-height:200px; background:#fff; border-radius:5px; display:none; position:absolute; left:50%; margin-left:-435px; top:150px; z-index:10000;}
#keyword .keyword_edit_form .global_container{padding:10px;}
#keyword .keyword_edit_form h3{height:60px; line-height:60px; text-indent:30px;color:#000; border-top-left-radius:5px; border-top-right-radius:5px; font-size:18px; border-bottom:#f1f1f1 1px solid;}
#keyword .keyword_edit_form .tips{padding-bottom:15px;}

#blog .top{border-bottom:#c1d3e7 2px solid; height:85px; line-height:85px; color:#4d6c8b; font-weight:bold; font-size:20px; background:#dfebf7; padding-left:32px;}
#blog .blog li{display:inline-block; height:42px; float:left; margin-right:20px; position:relative; background:#0cb083;  width:auto;}
#blog .blog li a{display:block; height:42px; line-height:42px; padding:0 24px; text-decoration:none; text-align:center; border-bottom:0; font-size:12px; color:#ffffff; font-weight:normal;border-top-left-radius:5px; border-top-right-radius:5px;}
#blog .blog li span{display:block; width:18px; height:18px; line-height:18px; overflow:hidden; text-align:center; background:#f4f4f4; border-radius:50%; position:absolute; top:-6px; right:-6px; color:#0cb083; font-size:12px;box-shadow: 0 0 4px #a8a8a8;}
#blog .content .create .offBtm{display:block;}

#sitemap .xml_txt{width:97%;max-width: 100%;height:300px;background: #fff;}

.seo_desc_manage_tips{font-size: 16px;color: #333;margin-bottom: 6px;}
.seo_desc_manage_tips span{color: red;}

#description_form{}
#description_form .left{width: 50%;}
#description_form .right{width: 50%;font-size: 16px;color: #424242;}
#description_form .right span{color: red;}

.Pointer div{
	-moz-animation:run 3s linear 1;
	-webkit-animation:run 3s linear 1;
	-ms-animation:run 3s linear 1;
	-o-animation:run 3s linear 1;
}
@-webkit-keyframes run{     
	from{     
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}  
}