@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.info_list{margin-bottom:0.5rem;min-height: 150px;}
.info_list li{position: relative;margin-top: 1.3125rem;height: 5.625rem; font-size:0.75rem; color:#333;}
.info_list li .pic{float: left;height: 5.625rem;width: 45%;text-align: center;}
.info_list li .pic img{height: 100%;}
.info_list li .desc{float: right;height: 5.625rem;width: 50%;}
.info_list li .time{display: block;color:#989898; font-size:0.75rem;padding-bottom: 0.35rem;height: 1rem;line-height: 1rem;}
.info_list li .name{display: block;max-height: 3rem;line-height: 1rem;font-size: 0.875rem;overflow: hidden;margin-bottom: 0.38rem;color: #000;}
.info_list li .more{display: inline-block;height: 1.2rem;line-height: 1.2rem;padding:0 0.6rem;font-size: 0.75rem;}
.info_list .down_btn{font-size:0.75rem; padding:0 0.5rem; line-height:1rem; height:1rem; border-radius:0.2rem;}