@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

#prolist{padding-top: 1.375rem;min-height: 150px;}
.page_title{width: 96%;margin: 0.7rem auto 0;padding-left: 0;line-height:1.875rem; background:#f3f3f3; height:1.875rem;text-align: center;}
.page_title .pos{height: 1.875rem;}
.page_title .pos .column{padding-left: 0.75rem;line-height:1.875rem; font-size:0.75rem; color:#444; height:1.875rem;text-overflow:ellipsis; white-space:nowrap;overflow: hidden;}
.page_title a{font-size:0.75rem; color:#444;}
.home_box{border-radius:0.05rem; width:96%; margin: 0 auto 3rem; background:#fff;}
.home_box .small_pro{position: relative;width:46%;border-width: 1px;border-style: solid; border-color: #ddd; padding-bottom: 1.2rem;}
.home_box .small_pro .more{position: absolute;bottom: -0.75rem;left: 0;right: 0;margin:auto;width: 50%;height: 1.5rem;line-height: 1.5rem;font-size: 0.7rem;border-width: 1px;border-style: solid; border-color: #ddd; text-align: center;background: #fff;color: #333;}
.home_box .small_pro .c{width:91.6107%; margin:0 auto;text-align: center;}
.home_box .small_pro .c .img{min-height:9rem; width:100%; height:9rem;padding:0.1875rem 0; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.7216117%;}
.home_box .small_pro .c .img img{vertical-align:middle; max-height:100%;}
.home_box .small_pro .c .proname{display: block;position: relative;line-height:1.8125rem; height:1.8125rem; overflow:hidden;font-size: 0.875rem;color:#444;margin-top: 1rem;}
.home_box .small_pro .c .desc{height: 4rem;line-height: 1rem;overflow: hidden;font-size: 0.7rem;margin-top: 0.5rem;margin-bottom: 0.5rem;color: #999;}
.home_box .small_pro .c .price{color:#d8061f; font-size:1rem; line-height:1.125rem; margin-top:0.3rem;}
.btn_global button{display: block;width: 96%;}
