@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.banner{position:relative;}
.banner .btn{position:absolute; left:0; width:100%; bottom:0.1rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:10px; border-radius:5px; background:#fff; margin:0 .1%; height:10px;}
.banner .btn span.on{background:#f15822;}

.hmenu{border:solid #d8d8d8; border-width:1px 0; height:1.75rem; padding:0.375rem 0;}
.hmenu .i{line-height:1.75rem; height:1.75rem; width:33.33%; text-align:center; border-left:1px solid #d8d8d8; -webkit-box-sizing:border-box; box-sizing:border-box;}
.hmenu .i:first-child{border-left:#d8d8d8;}
.hmenu .i a{font-size:0.75rem; color:#333;}

.home_pro{border:solid #f4f4f4; border-width:0.625rem 0;}
.home_t{line-height:2rem; font-size:0.75rem; padding-left:7.34375%;}
.home_pro .list{}
.home_pro .list .item{width:50%; -webkit-box-sizing:border-box; box-sizing:border-box; border-top:1px solid #f4f4f4;}
.home_pro .list .item:nth-child(odd){border-right:1px solid #f4f4f4;}
.home_pro .list .item .img{width:5.1875rem; height:5.1875rem; margin:0 auto; padding-top:0.75rem;}
.home_pro .list .item .img img{max-height:100%;}
.home_pro .list .item .name{line-height:1.125rem; height:1.125rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; padding-top:0.625rem; width:90%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:0 auto;}
.home_pro .list .item .name a{font-size:0.75rem; color:#333;}
.home_pro .list .item .price{width:90%; margin:0 auto; color:#d70d0d; font-size:0.75rem; line-height:1rem; padding-bottom:0.5rem;}
#banner_box{ width:100%; overflow:hidden; margin:0 auto;}
