@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.banner{position:relative;}
.banner .btn{position:absolute; left:0; width:100%; bottom:0.1rem; text-align:center;}
.banner .btn span{display:inline-block; content:''; width:10px; border-radius:5px; background:#fff; margin:0 .1%; height:10px;}
.banner .btn span.on{background:#f15822;}


.home_list{border-top:2px solid #dadada;}
.home_list .item{height:2.75rem; line-height:2.75rem; padding-left:3.59375%; border-bottom:2px solid #dadada; background:url(../images/h_list_bg.png) no-repeat 90.9375% center; background-size:1.71875%;}
.home_list .item a{font-size:0.875rem; color:#333;}