@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.position{padding:0.5rem; font-size:0.75rem; line-height:140%;}
.position a{font-size:0.75rem; color:#333;}

.goods_pic{width:100%;margin:0.37rem auto 0; text-align:center; background:url(../images/loading.gif) no-repeat center; background-size:5%; overflow:hidden;}
.goods_pic .con{ text-align:center;}
.goods_pic .con img{vertical-align:middle; max-height:100%;}
.goods_pic img{vertical-align:middle;}
#tabBox_goods{position: relative;width: 75%;margin:auto;min-height: 5rem;}
#tabBox_goods .hd{display: none;font-size: 0;margin: 1rem auto;text-align: center;}
#tabBox_goods .hd li{display: inline-block;width: 0.375rem;height: 0.375rem;margin: 0 0.2rem;border:1px solid #1e1e1e;border-radius: 100%;}
#tabBox_goods .hd li.on{background: #1e1e1e;}
#tabBox_goods .prev{position: absolute;left: -2rem;top: 0;bottom: 0;margin:auto;height: 30px;}
#tabBox_goods .prev:before{position: absolute;content: '';top: 0;left: 2px;border:15px solid transparent;border-right-color: #fff;z-index: 1;border-left: none; }
#tabBox_goods .prev:after{position: absolute;content: '';top: 0;left: 0;border:15px solid transparent;border-right-color: #292929;border-left: none; }
#tabBox_goods .next{position: absolute;right: -2rem;top: 0;bottom: 0;margin:auto;height: 30px;}
#tabBox_goods .next:before{position: absolute;content: '';top: 0;right: 2px;border:15px solid transparent;border-left-color: #fff;z-index: 1;border-right: none; }
#tabBox_goods .next:after{position: absolute;content: '';top: 0;right: 0;border:15px solid transparent;border-left-color: #292929;border-right: none; }
.goods_info{width:92.1875%; margin:1.125rem auto 0;}
.goods_info .name{line-height:1.25rem; color:#000; font-size:1.125rem; margin-bottom:0.3rem;}
.goods_info .brief{line-height: 1rem;font-size: 0.75rem;color: #555;margin-bottom: 0.5rem;}
.goods_info .price{line-height:1.125rem; font-size:1.125rem; color:#d8061f;margin-bottom: 0.5rem;}

#goods_inquiry{height:2.6875rem; z-index:10;}
#goods_inquiry img{max-height: 50%;display: inline-block;margin-right: 0.5rem;}
#goods_inquiry a.inquiry_btn{display:block; float: left;width:46%;margin:3% 2%;border-radius: 0.1875rem; height:2.6875rem; line-height:2.6875rem; text-align:center; font-size:1rem;color: white;}
#goods_inquiry a.feedback_btn{display:block; float: left;width:46%;margin:3% 2%;border-radius: 0.1875rem; height:2.6875rem; line-height:2.6875rem; text-align:center; font-size:1rem;background: #ebe9ea;color: #000;}

#cust_table{margin-bottom: 10px;}
.detail_desc{}
.detail_desc table{border-collapse:collapse;}
.detail_desc table tr.firstRow th{border-top-width:2px;}
.detail_desc .text th{background-color:#f7f7f7;}
.detail_desc .text td p{margin:0;padding:0;}
.detail_desc .text th, .detail_desc table td{border:1px solid #ddd;}
.detail_desc .t{position: relative;width: 96%;margin:auto;line-height:2.6875rem; height:2.6875rem; border:solid #e5e5e5; border-width:1px 0; text-indent:3.125%; font-size:1rem;color: #3b3b3b;margin-top: -1px; background: #fbfbfb;}
.detail_desc .t:before{content: '';position: absolute;top: 0;bottom: 0;margin:auto;right:0.625rem;width: 0.6875rem;height: 0;border-top: 1px solid #1e1e1e;}
.detail_desc .t:after{content: '';position: absolute;top: 0;bottom: 0;margin:auto;right:0.9375rem;width: 0;height: 0.6875rem;border-left: 1px solid #1e1e1e;}
.detail_desc .t.on:after{display: none;}
.detail_desc .text{display: none;width:93.75%; margin:0 auto; padding:0.875rem 0; font-size:0.75rem; line-height:180%;}
.detail_desc .text *{font-size:0.75rem; line-height:180%;}
.detail_desc .text img{height:inherit !important;}


.pd_content{padding:10px 0; overflow:hidden; line-height:normal;}
.pd_content p{margin:5px 0;}
.pd_content h1, .pd_content h2, .pd_content h3, .pd_content h4, .pd_content h5, .pd_content h6, .pd_content b, .pd_content strong{font-weight:bold;}
.pd_content h4{margin:1.33em 0;}
.pd_content li{list-style-type:inherit;}
.pd_content i, .pd_content cite, .pd_content em{font-style:italic;}
.pd_content td, .pd_content th{padding:5px 10px; border:1px #ddd solid;}

.pro_down{display: none;}
.pro_down li{line-height:2.625rem; border-bottom:1px solid #f3f3f3; font-size:0.75rem; color:#333;padding-left: 0.7rem;}
.pro_down li a{display: block;position: relative;font-size:0.75rem;color: #333;}
.pro_down .down_btn{position: absolute;right: 0;font-size:0rem; padding:0rem;width: 2.625rem;height: 2.625rem;background: url(../../../images/user_download.png) no-repeat center center / 40% auto;}

.hot_pro .title{position: relative;width: 96%;margin:auto;line-height: 2.6875rem;height: 2.6875rem;border: solid #e5e5e5;border-width: 1px 0;text-indent: 3.125%;font-size: 1rem;color: #3b3b3b;margin-top: -1px;background: #fbfbfb;}
.hot_list{width:93.75%; margin:0.55rem auto 0;}
.hot_list .item{margin-left: 1rem;margin-top:1.5625rem; padding-bottom:0.9rem;box-shadow: -0.3rem 0.3rem 0.3rem rgba(204,204,204,0.15);border-radius: 3px;}
.hot_list .item .img{ float: left;width:5.625rem; height:5.625rem; margin-left: -1rem;text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:20.125786%;}
.hot_list .item .img img{vertical-align:middle; max-height:100%;}
.hot_list .item .desc{width: 66%;}
.hot_list .item .desc .name{display: block;line-height:1.125rem;height:1.125rem;text-overflow:ellipsis; overflow: hidden; white-space: nowrap; font-size:0.875rem; color:#333;}
.hot_list .item .desc .brief{margin-top: 0.3rem;line-height: 1rem;max-height: 2rem;font-size: 0.75rem;color: #999;overflow: hidden;margin-bottom: 0.3rem;}
.hot_list .item .desc .price{color:#d8061f; font-size:0.875rem; line-height:1rem;}
.hot_list .item .desc .more{display: inline-block;height: 1.625rem;line-height: 1.625rem;font-size: 0.75rem;padding: 0 0.5rem;margin-top: 0.4rem;}