@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/


.home_box{background:#fff; overflow:hidden;padding: 0.5rem 0;}
.home_box .small_pro{width:33.33%;box-sizing:border-box;-webkit-box-sizing:border-box;padding:2% 3%;}
.home_box .small_pro .c{text-align: center;}
.home_box .small_pro .c .img{min-height:6.25rem; width:100%; height:6.25rem; text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:11.7216117%;}
.home_box .small_pro .c .img img{vertical-align:middle; max-height:100%;}
.home_box .small_pro .c .proname{display: block;line-height:1.1rem; max-height:2.2rem; padding-top:0.2rem; overflow:hidden;font-size:0.75rem; color:#333;}
.home_box .small_pro .c .price{color:#d8061f; font-size:0.75rem; line-height:1.125rem; margin-top:0.3rem;}
