@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.pro_list{width:93.75%; margin:0.55rem auto 0;}
.pro_list .item{margin-left: 1rem;margin-top:1.5625rem; padding-bottom:0.9rem;box-shadow: -0.3rem 0.3rem 0.3rem rgba(204,204,204,0.15);border-radius: 3px;}
.pro_list .item .img{ float: left;width:5.625rem; height:5.625rem; margin-left: -1rem;text-align:center; background:url(../../../images/loading.gif) no-repeat center; background-size:20.125786%;}
.pro_list .item .img img{vertical-align:middle; max-height:100%;}
.pro_list .item .desc{width: 66%;}
.pro_list .item .desc .name{display: block;line-height:1.125rem;height:1.125rem;text-overflow:ellipsis; overflow: hidden; white-space: nowrap; font-size:0.875rem; color:#333;}
.pro_list .item .desc .brief{margin-top: 0.2rem;line-height: 1rem;max-height: 2rem;font-size: 0.75rem;color: #999;overflow: hidden;margin-bottom: 0.3rem;}
.pro_list .item .desc .price{color:#d8061f; font-size:0.875rem; line-height:1rem;}
.pro_list .item .desc .more{display: inline-block;height: 1.3rem;line-height: 1.3rem;font-size: 0.75rem;padding: 0 0.5rem;margin-top: 0.3rem;}