@charset "utf-8";
/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

.banner{position:relative;}
.home_title{width:93.4375%;height: 2.5rem;line-height: 2.5rem;padding-top: 0.375rem;margin:0 auto;font-size: 1.125rem;text-align: center;text-transform: uppercase;}
.home_box{background:#fff; overflow:hidden;}
.home_box .small_pro{width:50%;padding: 0 2.5%;margin-bottom: 1.3125rem;box-sizing:border-box;-webdit-box-sizing:border-box;-moz-box-sizing:border-box;text-align: center;}
.home_box .small_pro .c{width:91.6107%; margin:0 auto; padding-top:0.14rem; padding-bottom:0.16rem;}
.home_box .small_pro .c .img{width:100%; height:8.9375rem; text-align:center; background: #f5f6f7 url(../../../images/loading.gif) no-repeat center; background-size:11.7216117%;}
.home_box .small_pro .c .img img{vertical-align:middle; max-height:100%;}
.home_box .small_pro .c .proname{padding-top: 0.3125rem;}
.home_box .small_pro .c .proname a{display: block;height: 1.25rem;margin: 0.2rem 2%;line-height: 1.25rem;overflow: hidden;font-size: 0.875rem;color: #333;}
.home_box .small_pro .c .probrief{max-height: 2rem;overflow: hidden;line-height: 1rem;font-size: 0.75rem;color: #999;}
.home_box .small_pro .c .price{height: 1.3rem;line-height: 1.3rem;font-size: 0.875rem;margin:0.2rem 0;color: #f00;}
.home_box .small_pro .c .promore{display: block;width: 55%;height: 1.5rem;line-height: 1.5rem;margin: 0.5rem auto 0;font-size: 0.875rem;border-radius: 0.1875rem}
.home_title2{padding: 0;height: 1.25rem;line-height: 1.25rem;margin-bottom: 0.75rem;}

.home_info{width: 90%;margin: 0 auto;}
.home_info .pic{margin-bottom: 0.5rem;}
.home_info .pic img{max-width: 100%;}
.home_info .desc{line-height: 1.125rem;font-size: 0.75rem;color: #666;}

.home_partners{height: 2.875rem;width: 94%;margin: 0 auto;padding-bottom: 1.5725rem;}
.home_partners .hd{display: none;}
.home_partners .bd li{float: left;width: 30%;height: 2.875rem;text-align: center;}
.home_partners .bd li img{vertical-align: middle;max-height: 100%;max-width: 95%;}




